@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json;
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>
<div class="tictac-box" hidden="@(!isInLobby)">
    <p>@testValue</p>

    <div>
        <button @onclick="async () => await MakeTurn(0)" class="cell-button" disabled="@(gR.GetCell(0).IsDisabled)">
            @gR.GetCell(0).Value
        </button>
        <button @onclick="async () => await MakeTurn(1)" class="cell-button" disabled="@(gR.GetCell(1).IsDisabled)">
            @gR.GetCell(1).Value
        </button>
        <button @onclick="async () => await MakeTurn(2)" class="cell-button" disabled="@(gR.GetCell(2).IsDisabled)">
            @gR.GetCell(2).Value
        </button>
    </div>
    <div>
        <button @onclick="async () => await MakeTurn(3)" class="cell-button" disabled="@(gR.GetCell(3).IsDisabled)">
            @gR.GetCell(3).Value
        </button>
        <button @onclick="async () => await MakeTurn(4)" class="cell-button" disabled="@(gR.GetCell(4).IsDisabled)">
            @gR.GetCell(4).Value
        </button>
        <button @onclick="async () => await MakeTurn(5)" class="cell-button" disabled="@(gR.GetCell(5).IsDisabled)">
            @gR.GetCell(5).Value
        </button>
    </div>
    <div>
        <button @onclick="async () => await MakeTurn(6)" class="cell-button" disabled="@(gR.GetCell(6).IsDisabled)">
            @gR.GetCell(6).Value
        </button>
        <button @onclick="async () => await MakeTurn(7)" class="cell-button" disabled="@(gR.GetCell(7).IsDisabled)">
            @gR.GetCell(7).Value
        </button>
        <button @onclick="async () => await MakeTurn(8)" class="cell-button" disabled="@(gR.GetCell(8).IsDisabled)">
            @gR.GetCell(8).Value
        </button>

    </div>
        <button @onclick="RestoreLastTurn" disabled="@(!IsConnected)">Restore Last Turn</button>
</div>
<div class="form-group" hidden="@(!IsInWaitRoom || isInLobby)">
    <select name="Turn" @bind="@selectedTurnType">
        <option value="0">Random</option>
        <option value="1">Creator</option>
        <option value="2">Joined user</option>
    </select>
    <button @onclick="CreateLobby" disabled="@(!IsConnected)">Create Lobby</button>

</div>
<div hidden="@(!IsInWaitRoom || isInLobby)">
    @foreach (var lobby in lobbyList)
    {
        <div class="lobby-elem">
            <span>@(lobby.name + "`s lobby")</span>
            <button class="join-button" @onclick="()=>JoinLobby(lobby.id)" disabled="@(!IsConnected)">Join Lobby</button>
        </div>
    }
</div>
<div class="form-group" hidden="@IsInWaitRoom">
    <label>
        User:
        <input @bind="userInput" />
    </label>
    <button @onclick="JoinWaitRoom" disabled="@(!IsConnected)">Join</button>
</div>
<p hidden="@IsUserNameUnique">User with this name already exists</p>
<p role="status">Current count: @currentCount</p>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>
@code {
    public string testValue = "Waiting for a player to join";
    private string selectedTurnType = "0";
    private GameRender gR = new GameRender("Default UserName");
    string SelectedTurnType
    {
        get => selectedTurnType;
        set
        {
            selectedTurnType = value;

        }
    }


    private int currentCount = 0;
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private List<LobbyIdAndName> lobbyList = new List<LobbyIdAndName>();
    private string userInput = "";
    private bool IsUserNameUnique = true;
    private bool IsInWaitRoom = false;
    private bool isInLobby = false;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
        .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        hubConnection.On<ErrorMessage>("ReceiveErrorMessage", (errorMessage) =>
        {
            if (errorMessage == ErrorMessage.UserNameIsNotUnique)
            {
                IsUserNameUnique = false;
            }
            StateHasChanged();
        });

        hubConnection.On<string>("ShowWaitingRoom", async (str) =>
        {
            gR = new GameRender(userInput);
            await UpdateLobbyList();
            isInLobby = false;
            IsUserNameUnique = true;
            IsInWaitRoom = true;
            StateHasChanged();
        });

        hubConnection.On<List<string>, List<string>>("UpdateLobbyList", (ids, names) =>
        {
            lobbyList.RemoveAll((lobby) => true);
            for (int i = 0; i < ids.Count(); ++i)
            {
                lobbyList.Add(new LobbyIdAndName(ids.ElementAt(i), names.ElementAt(i)));
            }
            StateHasChanged();
        });

        hubConnection.On<string>("JoinedLobby", async (message) =>
        {
            await UpdateLobbyList();
        });

        hubConnection.On<string>("ReceiveGameRenderElement", (gSJson) =>
        {
            if (gSJson is not null)
            {
                Console.WriteLine("pizdec");
                GameRenderElement? gameRenderElement = JsonConvert.DeserializeObject<GameRenderElement>(gSJson);
                if (gameRenderElement is not null)
                {
                    Console.WriteLine("pizdec1");

                    gR.ParseSituation(gameRenderElement);
                    if (gameRenderElement.Message != null)
                    {
                        testValue = gameRenderElement.Message;
                    }
                    if (gameRenderElement.IsFinished == true)
                    {
                        gR.DisableAllCells();
                    }
                    StateHasChanged();
                }
            }
        });



        await hubConnection.StartAsync();
    }

    private async Task JoinWaitRoom()
    {
        if ((hubConnection is not null) && !string.IsNullOrWhiteSpace(userInput))
        {
            await hubConnection.SendAsync("JoinWaitingRoom", userInput);
        }
    }

    private async Task UpdateLobbyList()
    {
        if ((hubConnection is not null))
        {
            await hubConnection.SendAsync("UpdateLobbyList");
        }
    }

    private async Task MakeTurn(int cellNumber)
    {
        if ((hubConnection is not null))
        {
            await hubConnection.SendAsync("MakeTurn", cellNumber);
        }
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
        }
    }

    private async Task JoinLobby(string lobbyId)
    {
        if ((hubConnection is not null))
        {
            isInLobby = true;
            await hubConnection.SendAsync("JoinLobby", lobbyId);
            await hubConnection.SendAsync("StartGame");
        }
    }

    private async Task CreateLobby()
    {

        if ((hubConnection is not null))
        {
            isInLobby = true;
            await hubConnection.SendAsync("CreateLobby", selectedTurnType);
            await UpdateLobbyList();
        }
    }

    private async Task RestoreLastTurn()
    {

        if ((hubConnection is not null))
        {
            await hubConnection.SendAsync("RestoreLastTurn");
        }
    }


    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}